.task {
  padding: 0.8rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}
.task i.material-icons:not(:first-child) {
  margin-right: 0.2rem;
}
.task.done {
  background-color: var(--light);
  color: var(--gray);
}
.task.preview i.material-icons,
.task.preview span {
  cursor: default;
}

.right {
  float: right;
}
