main {
  flex: 1 0 auto;
  padding: 3rem 0;
}

.all-tasks h4 .material-icons:not(:first-child) {
  margin-right: 0.8rem;
}

.tasks-done-container h5 {
  margin-top: 2rem;
  margin-right: 0;
}

.add-task .input-field {
  padding-left: 0;
}
.add-task .input-field input {
  padding-left: 0.75em;
}
.add-task h6 {
  margin-top: 30px;
}
