.modal.fade .modal-dialog {
  transform: translate(-50%, calc(-50% - 40px));
  top: 50%;
  left: 50%;
  margin: 0;
  width: calc(100% - 3rem);
  max-width: 530px;
}

.modal.show .modal-dialog {
  transform: translate(-50%, -50%);
}
