.page-header .navbar-toggler {
  border: none;
}

.header-brand {
  color: var(--cyan) !important;
  font-size: 2rem;
  font-weight: 200;
  padding: 0;
}

.about-link {
  padding: 0.7rem 0;
}

.display-name {
  margin: 0 1rem 0 0;
}
