body,
.LineApp {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  padding-top: 30px;
}
.clear {
  clear: both;
}
.add-task .input-field {
  padding-left: 0;
}
.add-task .input-field input {
  padding-left: 0.75em;
}
.add-task h6 {
  margin-top: 30px;
}
.act-btn {
  cursor: pointer;
}

footer p {
  margin: 0;
}

/* bootstrap overrides */
.form-control,
.btn {
  border-radius: 0.1rem;
}
.form-control:focus {
  border-color: var(--cyan);
  box-shadow: 0 0 0 0.2rem rgba(22, 162, 183, 0.2);
}
